
tr {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px;
}

input {
    outline:none;
    border: 2px solid #f7c611;
    background-color: #F0F8FF
}




.description {
    padding: 15px ;
    
}

.result {
    border: 2px solid #f7c611;
    background-color: #F0F8FF
}